a {
  text-decoration: none;

  background-color: lightgrey;
border: 1px solid black;
padding: 4px;
margin: 2px;

border-radius: 20px;
box-shadow: 4px 4px 3px darkgrey;
}

#content-box {
  box-sizing: border-box;
}
#border-box {
  box-sizing: border-box;
}
#border-box:hover {
  background-color: red;
  border: 2px solid green;
}
main blockquote {
  width: 200px;
  padding: 20px;
  border: 2px dashed gray;
  margin: 20px;
}

a:link {
  color: FireBrick;
}
a:visited {
  color: FireBrick;
}
a:focus, a:hover {
  color: white;
  background-color: rgba(178,34,34,0.75);
}
a:active {

  background-color: rgba(178,34,34,1.0);
}

main p {
  width: 200px;
  padding: 20px;
  border: 2px dashed gray;
  margin: 20px;
}
main p:first-child {
  overflow: scroll;
  height: 100px;
  width: 400px;
  border: none;
}
